body {
    font-family: 'Poppins', sans-serif;

}

.focus-container {
    display: flex;
    padding: 10%;
    margin: 5%;
}

.global-container {
    display: flex;
    padding: 10%;
    margin: 5%;

}



.mission-container {


    margin: 5%;

    padding: 10%;
}

.develope-container {
    display: flex;
    padding: 10%;
    margin: 5%;


}

.bike-container {
    display: flex;
    padding: 2% 10%;
    margin: 5%;

}

.mission-section {
    display: flex;



}

.three-width {
    width: 28%;

}

.three-width img {
    width: 60%;
}

.box1 {
    background-color: blanchedalmond;
    margin-right: 5%;
    padding: 3%;
    border-radius: 10px;

}

.box2 {
    background-color: rgb(165, 153, 155);
    margin-right: 5%;
    padding: 3%;
    border-radius: 10px;

}

.box3 {
    background-color: rgb(71, 136, 50);
    padding: 3%;
    border-radius: 10px;

}

.bike1 {
    border: 1px solid rgb(128, 128, 128, .5);
    margin-right: 5%;
    padding: 3%;
    border-radius: 10px;

}

.bike2 {
    border: 1px solid rgb(128, 128, 128, .5);
    margin-right: 5%;
    padding: 3%;
    border-radius: 10px;

}

.bike3 {
    border: 1px solid rgb(128, 128, 128, .5);

    padding: 3%;
    border-radius: 10px;

}



.half-width {
    width: 50%;
    padding-right: 10%;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-color: rgb(97, 165, 42);
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
}

h1 {
    font-size: 40px;
    font-weight: 700;

}

.second-head {
    text-align: center;
}



.heading-border {
    border-left: 5px solid;
    border-image: linear-gradient(orange, red);
    border-image-slice: 1;
}

.orange-color {
    color: orange;
}

footer {
    background-color: rgb(91, 102, 58);
    color: white;
    text-align: center;
    padding: 5px 30px;
}